<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title>Adam's fuelwatch</title>
</head>
<body>
    <div class="containerForAllDivs">
        <div class="bodyHeader">
            <h1>Fuelwatch data from <!-- insert_date -->!!!</h1>
        </div>
        <form action="getData" method="get">
            <button id="getData"><a href="/results/">Get today's data!</a></button>
        </form>
        <input type="text", id="latitude">
        <input type="text", id="longitude">
        <button id="imageButton">plot of prices on a map</button>
        <button id="latitudeButton">plot of prices by latitude</button>
        <button id="barPlotButton">Price by brand Bar Plot</button>
        <button id="hideShowTable">Hide Price Table</button>
        <div class="graph">
            <!-- insert graph here -->
            <img id="pricesMap" style="display: none;" src="images/<!-- insert_date -->-pricesMap.png" alt="">
            <img id="pricesByLatitude" style="display: none;" src="images/<!-- insert_date -->-pricesByLatitude.png" alt="">
            <img id="brandsBarPlot" style="display: none;" src="images/<!-- insert_date -->-brandsBarPlot.png" alt="">
        </div>
        <div class="fuelTable", id="priceTable">
            {{ fuelDataTable|safe }}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>